* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #0E1216;
  color: #FBFCFC;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: #090F11;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr;
  gap: 20px;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.logo i {
  position: absolute;
  left: 10%;
  font-size: 2rem;
}
.logo h3 {
  font-size: 1.5rem;
  font-weight: 100;
}
h1 {
  grid-column: 2;
  padding-left: 20px;
}
h3 a{
    text-decoration: none;
    color: inherit;
}
.menu {
  grid-row: 2 / span 2;
}
.menu ul {
  list-style: none;
  display: grid;
  justify-content: center;
  row-gap: 10px;
}
.icon-fix {
  position: relative;
  padding: 15px;
}
.icon-fix i {
  position: absolute;
}
.icon-fix li {
  font-size: 1.3rem;
  padding-left: 20px;
}
.reports-data {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-column: 2;
}
.sales-report {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.dashboard-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
.details-div {
  background-color: #251a41;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-div span {
  font-size: 1.2rem;
}
.details-div h2 {
  font-size: 2rem;
  margin-top: 10px;
}
.total-user { background-color: #2E1440; color: #E1AAEC; }
.total-orders { background-color: #111519; color: #6696F4; }
.total-revenue { background-color: #122322; color: #5DB999; }
.new-user { background-color: #3A2519; color: #E5D3BA; }

.graph-reports,
.candle-reports {
  width: 100% !important;
  max-width: 800px;
  height: 350px;
  padding: 0 10px;
}

.graph-reports canvas,
.candle-reports canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  cursor: pointer;
  background-color: #111519;
  border-radius: 15px;
}

span {
  font-size: 1.2rem;
  font-weight: 600;
}
.recent-order-details {
  padding: 20px;
}

.recent-order-details {
    overflow-y: auto;
      max-height: 400px;
}


    table {
      width: 100%;
      border-collapse: collapse;
      background: #111519;
      border-radius: 10px;
    }

    th, td {
      padding: 12px 16px;
      text-align: left;
    }

    th {
      font-weight: bold;
    }
    tr:hover {
      background-color: #333333;
    }

    .table-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .icon-fix:hover{
        background-color:#101519 ;
    }
    .icon-fix:hover i{
        color: #9C7AC5;
    }
     .icon-fix:hover{
        color: white;
     }
     .icon-fix{
        border-radius: 5px;
        color:#4C5B63;
     }

     @media(max-width:1000px){
        .reports-data{
            grid-template-rows:auto auto auto 1fr;
        }
        .sales-report{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .logo i{
            font-size: 1.2rem;
        }
        h3 a{
            font-size: 1.2rem;
            padding-left: 30px;
        }
        .dashboard-details{
            grid-template-columns: repeat(2,1fr);
        }
        body{
            padding: 10px;
        }

     }

     @media(max-width:660px){
        body{
            padding: 5px;
        }
        .menu{
            display: none;
        }
        .reports-data{
            grid-column: 1/-1;
            grid-row: 2/3;
        }
        h1{
            font-size: 1.5rem;
           margin: auto 0;
        }
        .logo h3{
            display: none;
        }
        .logo i{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
        }
     }
